/* src/css/custom.css */

.token.commandname {
  color: yellow;
  font-weight: bold;
}

.token.commandargument {
  color: green;
  font-weight: bold;
}

.token.commandselector {
  color: orange;
  font-weight: bold;
}

.token.commandtext {
  color: white;
}

.language-messagecommand {
  font-family: arial;
}
.pre-code-language-messagecommand {
  background: #919191 !important;
  font-size: 20px;
}
