/* src/css/custom.css */

.token.commandname {
  color: yellow;
  font-weight: bold;
}

.token.commandargument {
  color: green;
  font-weight: bold;
}

.token.commandselector {
  color: orange;
  font-weight: bold;
}

.token.commandtext {
  color: white;
}

.language-messagecommand {
  font-family: arial;
}
.pre-code-language-messagecommand {
  background: #919191 !important;
  font-size: 20px;
}

.alert--joke {
  --ifm-alert-background-color: #ac00db;
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: #5e0078;
}
